nested_treemap_clinical_burden_age_figure_2/data/processed/df_3c_final.csv
nested_treemap_clinical_burden_age_figure_2/data/processed/df_4c_final.csv
nested_treemap_clinical_burden_age_figure_2/data/processed/df_age_pct.csv
nested_treemap_clinical_burden_age_figure_2/data/processed/df_all_3c.csv
nested_treemap_clinical_burden_age_figure_2/data/processed/icd10_lookups.pkl
nested_treemap_clinical_burden_age_figure_2/data/raw/.DS_Store
nested_treemap_clinical_burden_age_figure_2/data/raw/~$hosp-epis-stat-admi-diag-2014-15-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/~$hosp-epis-stat-admi-diag-2023-24-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hannah19changing.pdf
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2012-13-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2013-14-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2014-15-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2015-16-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2016-17-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2017-18-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2018-19-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2019-20-tab supp.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2020-21-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2021-22-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2022-23-tab_V2.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-diag-2023-24-tab.xlsx
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-prim-2010-11-diag-3cha.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-prim-2010-11-diag-4cha.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/hosp-epis-stat-admi-prim-2010-11-diag-sum.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/ICD10Volume2_en_2010.pdf
nested_treemap_clinical_burden_age_figure_2/data/raw/nasar23hospitalization.pdf
nested_treemap_clinical_burden_age_figure_2/data/raw/1998/hosp-epis-stat-admi-prim-diag-3cha-98-99-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/1998/hosp-epis-stat-admi-prim-diag-4cha-98-99-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/1998/hosp-epis-stat-admi-prim-diag-sum-98-99-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/1999/hosp-epis-stat-admi-prim-diag-3cha-99-00-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/1999/hosp-epis-stat-admi-prim-diag-4cha-99-00-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/1999/hosp-epis-stat-admi-prim-diag-sum-99-00-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2000/hosp-epis-stat-admi-prim-diag-3cha-00-01-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2000/hosp-epis-stat-admi-prim-diag-4cha-00-01-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2000/hosp-epis-stat-admi-prim-diag-sum-00-01-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2001/hosp-epis-stat-admi-prim-diag-3cha-01-02-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2001/hosp-epis-stat-admi-prim-diag-4cha-01-02-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2001/hosp-epis-stat-admi-prim-diag-sum-01-02-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2002/hosp-epis-stat-admi-prim-diag-3cha-02-03-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2002/hosp-epis-stat-admi-prim-diag-4cha-02-03-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2002/hosp-epis-stat-admi-prim-diag-sum-02-03-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2003/hosp-epis-stat-admi-prim-diag-3cha-03-04-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2003/hosp-epis-stat-admi-prim-diag-4cha-03-04-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2003/hosp-epis-stat-admi-prim-diag-sum-03-04-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2004/hosp-epis-stat-admi-prim-diag-3cha-04-05-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2004/hosp-epis-stat-admi-prim-diag-4cha-04-05-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2004/hosp-epis-stat-admi-prim-diag-sum-04-05-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2005/hosp-epis-stat-admi-prim-diag-3cha-05-06-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2005/hosp-epis-stat-admi-prim-diag-4cha-05-06-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2005/hosp-epis-stat-admi-prim-diag-sum-05-06-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2006/hosp-epis-stat-admi-prim-diag-3char-06-07-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2006/hosp-epis-stat-admi-prim-diag-4char-06-07-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2006/hosp-epis-stat-admi-prim-diag-sum-06-07-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2007/hosp-epis-stat-admi-prim-3cha-07-08-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2007/hosp-epis-stat-admi-prim-4cha-07-08-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2007/hosp-epis-stat-admi-prim-diag-07-08-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2008/hosp-epis-stat-admi-prim-diag-3cha-08-09-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2008/hosp-epis-stat-admi-prim-diag-4cha-08-09-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2008/hosp-epis-stat-admi-prim-diag-sum-08-09-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2009/hosp-epis-stat-admi-prim-diag-3cha-09-10-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2009/hosp-epis-stat-admi-prim-diag-4cha-09-10-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2009/hosp-epis-stat-admi-prim-diag-sum-09-10-tab.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2010/hosp-epis-stat-admi-prim-2010-11-diag-3cha.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2010/hosp-epis-stat-admi-prim-2010-11-diag-4cha.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2010/hosp-epis-stat-admi-prim-2010-11-diag-sum.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2011/hosp-epis-stat-admi-diag-2011-12-prim-diag-3cha.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2011/hosp-epis-stat-admi-diag-2011-12-prim-diag-4cha.xls
nested_treemap_clinical_burden_age_figure_2/data/raw/2011/hosp-epis-stat-admi-diag-2011-12-prim-diag-sum.xls
nested_treemap_clinical_burden_age_figure_2/.DS_Store
.DS_Store
